    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        min-width: 320px;
        max-width: 750px;
        /* flexible 给我们划分了 10 等份 */
        width: 10rem;
        margin: 0 auto;
        line-height: 1.5;
        font-family: Arial, Helvetica;
        background: #fff;
    }
    
    a {
        text-decoration: none;
    }
    
    li {
        list-style: none;
    }
    /* 如果我们的屏幕超过了 750px  那么我们就按照 750设计稿来走 不会让我们页面超过750px */
    
    @media screen and (min-width: 750px) {
        html {
            font-size: 75px!important;
        }
    }
    
    .appraise_top {
        width: 10rem;
        height: 1.333333rem;
    }
    
    .appraise_jt {
        position: fixed;
        width: 10rem;
        height: .52rem;
        padding-top: .84rem;
    }
    
    .appraise_top a img {
        margin-left: .52rem;
        width: .32rem;
        height: .52rem;
    }
    
    .appraise_text {
        margin: .506667rem 0rem .733333rem .48rem;
    }
    
    .appraise_text p {
        font-size: .533333rem;
        font-weight: 700;
    }
    
    .dianpu {
        overflow: hidden;
        width: 9.066667rem;
        height: 10.826667rem;
        margin: 0rem .44rem .266667rem .48rem;
        border: .013333rem solid #ccc;
        border-radius: .4rem;
    }
    
    .dianpu_top {
        height: 1.2rem;
        line-height: 1.2rem;
        border-bottom: .013333rem solid #ccc;
    }
    
    .dianpu_top p {
        font-size: .333333rem;
        font-weight: 700;
        margin-left: .666667rem;
    }
    
    .dianpu_commodity1_hd {
        overflow: hidden;
        margin-bottom: .733333rem;
        margin-top: .613333rem;
        margin-left: .48rem;
        /* vertical-align: middle; */
    }
    
    .tu1 img {
        float: left;
        width: 1.893333rem;
        height: 1.866667rem;
        margin-right: .333333rem;
        border-radius: .266667rem;
        vertical-align: middle;
    }
    
    .rig {
        float: left;
        height: 1.573333rem;
    }
    
    .rig p {
        font-size: .333333rem;
        font-weight: 700;
        margin-bottom: .506667rem;
    }
    
    .rig img {
        width: .373333rem;
        height: .266667rem;
    }
    
    .rig em {
        float: left;
        font-size: .333333rem;
        color: #e4007b;
        font-weight: 700;
        font-style: normal;
    }
    
    .rig span {
        float: right;
        font-size: .333333rem;
        font-weight: 700;
    }
    
    .again {
        border-top: .013333rem solid #ccc;
        border-bottom: .013333rem solid #ccc;
        height: 1.6rem;
    }
    
    .again a {
        float: right;
        width: 1.933333rem;
        height: .8rem;
        border: .013333rem solid #e7e7e7;
        border-radius: .4rem;
        font-size: .333333rem;
        line-height: .8rem;
        text-align: center;
        margin-right: .266667rem;
        margin-top: .36rem;
    }
    
    .ag1 {
        color: #524d2b;
        background-color: #fddf00;
    }
    
    .ag2 {
        color: #fff;
        background-color: #003a9b;
    }
    
    .sma {
        height: 6rem;
    }