body {
    min-width: 320px;
    max-width: 750px;
    /* flexible 给我们划分了 10 等份 */
    width: 10rem;
    margin: 0 auto;
    line-height: 1.5;
    font-family: Arial, Helvetica;
    background: #FFF;
}

a {
    text-decoration: none;
    /* font-size: .333333rem; */
}

ul>li {
    list-style: none;
}

ol>li {
    list-style: none;
}


/* 这个插件默认的html文字大小 cssroot  16px */


/* 
img {
    width: 5.125rem;
    height: 4rem;
    width: 1rem;
    width: 1.093333rem;
    height: 1rem;
} */


/* 如果我们的屏幕超过了 750px  那么我们就按照 750设计稿来走 不会让我们页面超过750px */

@media screen and (min-width: 750px) {
    html {
        font-size: 75px!important;
    }
}


/* 生成拆单首界面 */


/* 头部wb_top */

.wb_header {
    position: relative;
    width: 100%;
    height: 1.2rem;
    background-color: #fff;
}

.wb_back {
    position: absolute;
    top: .533333rem;
    left: .533333rem;
    height: .533333rem;
    width: .266667rem;
    background-color: red;
    background: url(../images/fh.png) no-repeat;
    background-size: .266667rem .533333rem;
}

.wb_edit {
    position: absolute;
    top: .306667rem;
    right: .586667rem;
    font-family: PingFangSC-Medium;
    font-size: .346667rem;
    color: #333333;
    letter-spacing: 0;
    text-align: right;
    line-height: 1.2rem;
}


/* 信息栏 title */

.wb_title {
    position: relative;
    width: 100%;
    height: 1.04rem;
    background-color: #fff;
}

.wb_title ol li {
    float: left;
    padding: 0 .266667rem;
}

.wb_li_caidan {
    width: 2.133333rem;
}

.wb_caidan1 {
    font-family: PingFangSC-Medium;
    font-size: .533333rem;
    color: #333333;
    text-align: left;
    font-weight: 900;
}

.wb_caidan {
    font-family: PingFangSC-Medium;
    font-size: .32rem;
    color: #666666;
    letter-spacing: 0;
    text-align: left;
}

.wb_title:first-child {
    display: inline-block;
    width: 2.133333rem;
    margin: 0 .266667rem .346667rem .48rem;
}


/* 店铺信息 start */

.wb_story_content {
    height: 2.626667rem;
    background-color: #FDFDFD;
}

.wb_story_list {
    width: 9.066667rem;
    height: 2.333333rem;
    margin-left: .48rem;
    background-color: #fff;
    border-radius: 0.66rem;
    border: .02rem solid #F0F0F0;
}

.wb_story_list ul li {
    display: block;
}

.wb_story_img {
    float: left;
    width: 1rem;
    height: 1rem;
    background: url(../images/diaologo.png) no-repeat;
    background-size: 1rem 1rem;
    border: .02rem solid #ccc;
    border-radius: .133333rem;
}

.wb_story_2 {
    float: left;
    height: 1rem;
}

.wb_story_2 .h5 {
    display: block;
    height: 0.5rem;
    font-family: "PingFangSC-Medium";
    font-size: .32rem;
    color: #333333;
    letter-spacing: 0;
    font-weight: 600;
    text-align: left;
    padding-left: .213333rem;
}

.wb_story_2 .p {
    float: left;
    height: 0.5rem;
    font-family: "PingFangSC-Medium";
    font-size: .32rem;
    color: #999999;
    letter-spacing: 0;
    line-height: 16px;
    padding: 0 .266667rem;
}


/* 店铺信息 end */